# Dependencies:
/vendor
/node_modules
/bower_components

# Compiled assets:
/assets/css
/assets/js

# Generated tmp:
/builds
/svn
composer.lock
package-lock.json
.DS_Store

# Env files
phpunit.json
wordpress-org.json